[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
django = "==4.0"
djangorestframework = "*"
twilio = "*"
pillow = "*"
django-rest-swagger = "*"
drf-yasg = "*"
django-service-objects = "*"
channels = "==3.0.4"
channels-redis = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
